@layer reset, priority1, priority2, priority3, priority4, priority5;
@layer reset {
  body {
    margin: 0;
  }
  button,
  input {
    font: inherit;
  }
  input {
    accent-color: #315faa;
  }
  * {
    box-sizing: border-box;
  }
}
